Win10MvvmLightSampleProject/src/Win10MvvmLight/obj/
Win10MvvmLightSampleProject/src/Win10MvvmLight/bin/
Win10MvvmLightSampleProject/src/Win10MvvmLight.Portable/obj/
Win10MvvmLightSampleProject/src/packages/
Win10MvvmLightSampleProject/src/Win10MvvmLight.Portable/bin/
